body {
	margin: 0;
	padding: 10px;
	color: white;
	background-color: black;
	padding-bottom: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

#code-text {
	padding: 10px;
	background-color: grey;
	border: 3px solid white;
	font-size: 16px;
}

#homepage-code {
	display: inline-block;
	padding-right: 10px;
}

#profile-photo {
	content: url("https://hitodenashi.github.io/Images/bun.jpg");
	width: 300px;
}

#content-div {
	display: flex;
	align-items: center;
	justify-content: center;
}